service detcserver /system/bin/detcserver
    class main
    user shell
    group log system shell
    capabilities NET_ADMIN NET_RAW
    socket detcserver stream 666 shell log

on property:detc.logcat.server=true
    start detcserver

on property:detc.logcat.server=false
    stop detcserver
